.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 20px;
    /*position: absolute;*/
}



.img{
    object-fit: cover;
}

.textContainer{
    display: flex;
    gap:10rem;
}

.item{
    flex: 1;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;

}

.description{
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
}